* {
  box-sizing: border-box;
}

body {
  background-color: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 400px;
}

.title{
  text-align: center;
  background: #2E9CF0;
  background: linear-gradient(to right, #2E9CF0 0%, #BF0603 25%, #F4D58D 50%, #708D81 75%, #EDFAFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 10%;
  text-shadow: 0 0 10px rgb(0, 0, 0);
  animation: title 2s infinite;

}

@keyframes title {
  0%{transform: scale(1);}
  50%{transform: scale(1.5);}
  100%{transform: scale(1);}
}

.square {
  background-color: #1d1d1d;
  box-shadow: 0 0 2px #000;
  border-radius: 50px;
  height: 16px;
  width: 16px;
  margin: 2px;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}
