* {
  box-sizing: border-box;
  font-family: serif;
}

.main {
  
  color: #000000;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: #68e1fd;
  padding: 20px 40px;
  border-radius: 10px;
  margin-right: 15%;
  animation: container infinite , shodow infinite;
  animation-duration: 2s;
}

@keyframes container {
  0%{background-color: #68e1fd;}
  50%{background-color: #4bb2ca;}
  100%{background-color: #68e1fd;}
}

@keyframes shodow {
  0%{box-shadow: none;}
  50%{box-shadow: 0 0 30px gray;}
  100%{box-shadow: none;}
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container a {
  text-decoration: none;
  color: #fff;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: #fff;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 10px;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
  background-color: #000000;
  color: #fff;
}

.text {
  margin-top: 30px;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: rgb(0, 0, 0);
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: rgb(255, 255, 255);
  transform: translateY(-30px);
}

@media only screen and (max-width: 1233px) {

  body {
    background-image: url(./2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img{
    display:none
  }

  .container{
    margin-right: 0;
  }
}